footer
    nav
        a(href="/nosotros")
            label Nosotros
        a(href="/viajes")
            label Viajes
        a(href="/contacto")
            label Contacto
    .copyright
        p Todos los derechos reservados 
            span #{year}         