header(class= css)
    .logo
        picture
            a(href="/")
                img(src="/img/logo.svg", alt="logo")
    nav
        a(href="/nosotros")
            label Nosotros
        a(href="/viajes")
            label Viajes
        a(href="/testimonios")
            label Testimonios
