header
    .logo
        picture
            img(src="/img/logo.svg", alt="logo")
    nav
        a(href="/nosotros")
            label Nosotros
        a(href="/viajes")
            label Viajes
        a(href="/Comentarios")
            label Comentarios
