:root {
    font-family: 'Montserrat', sans-serif;
    --pearl:  rgb(5, 196, 196);
    --pearlHover: rgb(6, 180, 180);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 1200px;
    margin: auto;
}

.container {
    padding-left:4rem;
    padding-right:4rem;
}

.title {
    text-align: center;
    text-transform: uppercase;
    color: var(--pearl);
}
.title.white {
    color: white;
}

p {
    margin-bottom: .7rem;
}

a {
    cursor: pointer;
}

h1,h2,h3,h4,h5, h6 {
    margin-bottom: 1rem;
}
.btn {
    display: block;
    width: 100%;
    padding: .5rem 0;
    text-align: center;
    border: solid 1px #ccc;
    border-radius: 5px;
    font-weight: 700px;
}

.error { 
    display: block;
    border: solid 1px rgb(107, 16, 16);
    background-color: rgb(255, 179, 179);
    color: rgb(107, 16, 16);
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}

.error label:nth-child(n+1) {
    margin-right: 5px;
}

/*--------- header ---------------*/
header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
    background-color: var(--pearl);
}

header.index {
    background: transparent;
    position: absolute;
    left: 0;
    right: 0;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    text-transform: uppercase;
}

header nav a:nth-child(n+1) {
    margin-right: 7px;
}

header nav a label {
    cursor: pointer;
}

header picture img {
    width: 100%;
}


/* ------------Footer------------ */

footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 4rem;
}

footer nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    margin-right: 7px;
}

footer nav a label {
    cursor: pointer;
}

footer .copyright {
    text-transform: uppercase;
    font-weight: 700;
}

footer .copyright p {
    margin: 0;
}

@media screen and (max-width: 425px) {
    footer {
        padding: 1rem 2rem;
    }

    footer nav a {
        font-size: 9px;
    }

    footer .copyright p {
        font-size: 9px;
    }
}

/* -------------------Inicio------------------------ */
.banner {
    background-image: url('../img/superior.jpg');
    min-height: 600px;
    height: 100vh;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.banner h1 {
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 14px;
}

.banner em {
    font-size: 4rem;
    font-size: 4rem;
    font-family: co;
    order: -1;
    line-height: .8;
}
.descuento {
    background-image: url('../img/cupon.jpg');
    background-size: cover;
    min-height: 300px;
}
.descuento .grid {
    padding: 0;
}
.descuento .grid .text-descuento {
    display: flex;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0, .5) 0%, rgba(0,0,0, .5) 100%);
}

.descuento .grid .text-descuento p.title {
    font-weight: 700;
    font-size: 1.5rem;
}

/* ------------------nosotros------------------------------ */

.mt-3 {
    margin-top: 3rem;
}

.grid {
    display: grid;
    gap: 1rem;
    padding-bottom: 3rem;
}

.row2 {
    grid-template-columns: 1fr 1fr;
}

.grid .picture-nosotros img {
    width: 100%;
}

.grid .content h1 {
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.grid .content blockquote {
    font-weight: 700;
    margin-bottom: .7rem;
}

.grid article .about-us {
    font-size: 1.5rem;
}

main .banner-info{ 
    display: flex;
    padding: 3rem;
    background: #eeeeee;
    flex-flow: row wrap;
    justify-content: center;
}

main .banner-info .banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 295px;
    margin: 0 6px;
}

main .banner-info .banner .title {
    text-transform: uppercase;
    color: var(--pearl);
}

main .banner-info .banner img {
    width: 100px;
    object-fit: contain;
    margin-bottom: .7rem;
}

@media screen and (max-width: 426px){
    .row2 {
        grid-template-columns: 1fr;
    }
}
/*------------------ Viajes----------------- */

.flow {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.card {
    border: none;
    background-color: white;
    box-shadow: 0 0 2px rgba(0, 0,0, .4);
    border-radius: 5px;
}

.card .card-img {
    width: 100%;
    object-fit: contain;
}

.card .card-body {
    padding: .5rem;
}

.card .card-body .message::before {
    content: '❝';
    display: block;
    font-size: 3rem;
    width: 100%;
    text-align: start;
}

.card .card-body .name {
    color: var(--pearl);
    text-transform: capitalize;
}

.card .card-body .card-title {
    text-transform: uppercase;
    color: var(--pearl);
}

.card .card-body .btn {
    text-decoration: none;
    background-color: var(--pearl);
    color: white;
    font-weight: 700;
    padding: .5rem 0;
    display: block;
    text-align: center;
    border-radius: 5px;
}

/*------------------------ Testimonios----------------- */


.form {
    width: 800px;
    min-width: 300px;
    margin: auto;
    padding-bottom: .7rem;
}

.form-group {
    padding: 1rem 0;
}

.form .btn {
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    background-color: var(--pearl);
    border: none;
    font-weight: 700;
}

.form .btn:hover {
    background-color: var(--pearlHover);
}

.form-group label {
    display: block;
    margin-bottom: .6rem;
}

.form-group input {
    display: block;
    width: 100%;
    margin-bottom: .7rem;
    border-radius: 5px;
    border: solid 1px #ccc;
    font-size: 1.2rem;
    padding: .5rem .7rem;
}

.form-group textarea {
    display: block;
    width: 100%;
    margin-bottom: .7rem;
    border-radius: 5px;
    border: solid 1px #ccc;
    font-size: 1.2rem;
    padding: .5rem .7rem;
}

@media screen and (max-width: 768px) {
    .form {
        width: 100%;
    }
} 