extends ../layout/index
block content
    main.mt-3
        .grid.row2.container
            .picture-nosotros
                img(src="img/nosotros.jpg", alt="nosotros")
            .content
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, ullam!
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat perspiciatis officiis fugit aliquam alias facilis qui recusandae quo laborum, nulla, earum amet magni iusto cumque corrupti sint dignissimos a praesentium?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor numquam labore autem ullam similique, veritatis illo. Modi atque hic molestias vitae doloribus laborum, repellat maxime repellendus consequatur. Sunt, vero iusto.
        .banner-info.container
            .banner
                img(src="img/icono_seguridad.svg", alt="seguridad")
                h2.title seguridad
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, impedit.
            .banner
                img(src="img/icono_destinos.svg", alt="destinos")
                h2.title destinos
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, impedit.
            .banner
                img(src="img/icono_precios.svg", alt=" precios")
                h2.title precios
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, impedit.